/* Ensure the base elements take full height */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Main application container */
.app {
  display: flex;
  height: 100%; /* Matches the full height of the viewport */
}

/* Sidebar styles */
.sidebar {
  background: linear-gradient(180deg, #1d1f21, #292c2e);
  color: #ffffff;
  width: 250px;
  height: 100%; /* Ensure it covers full parent height */
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  position: fixed;
  box-shadow: 3px 0px 10px rgba(0, 0, 0, 0.3);
}

.collapsed .sidebar {
  width: 80px;
}

/* Sidebar header */
.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  background: #1b1c1e;
  border-bottom: 1px solid #444;
}

/* Logo styles */
.logo {
  font-size: 0.8em;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 10px;
}

/* Toggle button */
.toggle-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
  color: white !important;
}

/* Sidebar menu */
.menu {
  margin-top: 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  font-size: 1.2em;
  color: #ccc;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
}

.menu-item:hover {
  background: #3a3d40;
  color: #ffffff;
}

.menu-item span {
  margin-left: 10px;
}

.collapsed .menu-item span {
  display: none;
}

.collapsed .menu-item {
  justify-content: center;
}

.menu-item .icon {
  font-size: 1.5em;
}

/* Main content styles */
.main-content {
  margin-left: 250px;
  flex-grow: 1;
  padding: 20px;
  transition: margin-left 0.3s ease;
  height: 100%; /* Ensure alignment with sidebar height */
}

.collapsed + .main-content {
  margin-left: 80px;
}

/* Header styles */
.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 20px;
  position: relative; /* Make sure it's relative for absolute children */
  z-index: 2;
  /* width: 100%; Take full width of the container */
}

/* Avatar Dropdown */
.ant-avatar {
  cursor: pointer;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .header {
    justify-content: flex-end; /* Keep it on the right */
    padding: 10px 15px;
  }
  .sidebar {
    width: 200px;
  }

  .collapsed .sidebar {
    width: 70px;
  }

  .main-content {
    margin-left: 200px;
  }

  .collapsed + .main-content {
    margin-left: 70px;
  }
}

@media (max-width: 480px) {
  .header {
    justify-content: flex-start; /* Shift the avatar to left in smaller screens */
    padding: 10px 10px;
  }
  .sidebar {
    width: 100%;
    height: auto;
    position: static;
  }

  .collapsed .sidebar {
    width: 100%;
  }

  .main-content {
    margin-left: 0;
  }
}
